{% extends 'common/base.html' %}
{% load poll_extras %}
{% block content %}
<div class="container">
    <h3> FRIENDS PAGE </h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>No Of Friends</td>
            <td>No Of Mutual Friends</td>
        </tr>
        </thead>
        <tbody>
        {% for user in user_obj.friends.all %}
        <tr>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name}}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.user_friends_count}}</td>
            <td>
                {% with request.user|mutual_friend_count:user as r1%}
                    <a href="#" data-toggle="tooltip" title="{% for i in r1.names  %} {{ i }} {% endfor %} ">
                        {{ r1.count }}
                    </a>
                {% endwith %}

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
{% block extra_js %}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock %}